<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>英语水平考试免修申请平台</title>
        <meta name="description" content="英语水平考试免修申请平台">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
    </head>
    <body>
        <div id="root"></div>
        <script crossorigin src="/react.production.min.js"></script>
        <script crossorigin src="/react-dom.production.min.js"></script>
        <script crossorigin src="/moment.min.js"></script>
        <script crossorigin src="/dva.min.js"></script>
        <script crossorigin src="/dva.dynamic.min.js"></script>
        <script crossorigin src="/dva.router.min.js"></script>
    </body>
</html>
